extends layout

block content
    h3 RMLMapper Web API
    ul
      li API version: #{apiVersion}
      li RMLMapper version: #{rmlmapperVersion}
    div
      h4 Usage
      p
      ul
        li Request: HTTP POST
        li
          | Path:
          code  /process
        li Content-Type: application/json
        li
          | Body (raw):
          ul
            li
              code rml
              |  (required): RML rules (string, Turtle format)
            li
              code sources
              |  (optional): key-value pairs where the key is the name of the source used in the rules and the value the string representation of that source
            li
              code generateMetadata
              |  (optional, default is
              code  false
              | ): if set to
              code true
              |  the metadata of the process is generated and returned
        li
          | Example:
          pre.
            curl -X POST \
              #{url}/process \
              -H 'Content-Type: application/json' \
              -d '{
              "rml":"@prefix rr: &lt;http://www.w3.org/ns/r2rml#&gt;. @prefix rml: &lt;http://semweb.mmlab.be/ns/rml#&gt;. @prefix rdf: &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns&gt;. @prefix rdfs: &lt;http://www.w3.org/2000/01/rdf-schema#&gt;. @prefix ql: &lt;http://semweb.mmlab.be/ns/ql#&gt;. @prefix map: &lt;http://mapping.example.com/&gt;.  map:map_person_0 rml:logicalSource map:source_0;     a rr:TriplesMap; rdfs:label \"person\"; rr:subjectMap map:s_0; rr:predicateObjectMap map:pom_0, map:pom_1. map:om_0 a rr:ObjectMap; rr:constant \"http://xmlns.com/foaf/0.1/Person\"; rr:termType rr:IRI. map:om_1 a rr:ObjectMap; rml:reference \"firstname\"; rr:termType rr:Literal. map:pm_0 a rr:PredicateMap; rr:constant rdf:type. map:pm_1 a rr:PredicateMap; rr:constant &lt;http://example.com/name&gt;. map:pom_0 a rr:PredicateObjectMap; rr:predicateMap map:pm_0; rr:objectMap map:om_0. map:pom_1 a rr:PredicateObjectMap; rr:predicateMap map:pm_1; rr:objectMap map:om_1. map:s_0 a rr:SubjectMap; rr:template \"http://example.com/{firstname}\". map:source_0 a rml:LogicalSource; rml:source \"data.json\"; rml:iterator \"$.persons[*]\"; rml:referenceFormulation ql:JSONPath. ",
              "sources": {
                "data.json": "{\"persons\": [{\"firstname\": \"John\", \"lastname\": \"Doe\"},{\"firstname\": \"Jane\",\"lastname\": \"Smith\"},{ \"firstname\": \"Sarah\", \"lastname\": \"Bladinck\"}] }"
              }
            }'
      p
